{% extends 'assets/index_base.html' %}

{% block body %}

    {% include 'menu.html' %}

    <div class="container">
        <div class="content">
            <h1 class="title">Sessão do CS expirada ou inexistente</h1>
            <p>Você não possui uma sessão ativa no CS.</p>
            <p>
                <span>Faça o login no </span>
                <a href="https://prime.cscloud.biz/" target="_blank">CS.Prime</a>
                <span> e depois volte aqui e atualize a página.</span>
            </p>
        </div>
    </div>

{% endblock %}